.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
}

.card {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__header {
	margin: 10px 0px;
	padding: 5px 0;
}

.product__title {
	font-size: 16px;
	font-weight: 600;
	font-style: italic;
	text-transform: uppercase;

}

.card__image {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card__image img {
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.product__price {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.product__description {
	font-size: 14px;
	margin-bottom: 5px;
}

.product__stock{
	text-align: center;
	font-size: 14px;

	margin:100px 5px;

}

.card__actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}